<application
    android:name=".AlKalimahApp"
    android:allowBackup="true"
    android:theme="@style/Theme.AlKalimah">
    <activity
        android:name=".ui.MainActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
</application>